.task {
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;

  width: 100%;
}

.task + .task {
  margin-top: 1rem;
}

.button,
.buttonDelete {
  background-color: transparent;
  border: none;

  cursor: pointer;

  font-size: 1.1rem;
}

.button svg {
  margin-bottom: -0.3rem;
}

.unchecked,
.checked {
  transition: all 0.2s;
}

.unchecked {
  color: var(--blue);
}

.unchecked:hover {
  color: var(--blue-dark);
}

.checked {
  color: var(--purple-dark);
}

.checked:hover {
  color: var(--purple);
}

.task p {
  color: var(--gray-100);
  word-break: break-all;
  font-size: var(--medium-size);
}

.taskUnckecked {
  border-color: var(--gray-400);
}

.taskChecked {
  border-color: var(--gray-500);
  text-decoration: line-through;
}

.taskChecked p {
  color: var(--gray-300);
}

.delete {
  color: var(--gray-300);
}

.delete:hover {
  color: var(--danger);
}

.buttonDelete {
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
}

.buttonDelete:hover {
  background-color: var(--gray-400);
  border-radius: 4px;
}
